  .game{
    cursor: none;
    background-color: white;
  }
  
  .cursor{
    background-color: none;
    border: 2px solid black;
    box-sizing: border-box;
    position: absolute;
    cursor: none;
  }
  
  .canvas {
    position: relative;
  }