body {
    background-color: #212121;
    height: 100vh;
}

.chat {
    display: flex;
    flex-direction: column;
    max-height: 150px ;
    width: 90%;
    max-width: 300px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 16px 16px 0 0;
    padding-top: 1em;
    position: fixed;
    bottom: 0;
    margin: 0 0 2.5em 1em;
}

.messages {
    overflow: auto;
    padding-inline: 1em;
    margin-bottom: 2em;
}

span {
    font-weight: bold;
}

.input {
    width: 100%;
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1em;
    padding-right: 1em;
    background-color: #ffffff;
    border-radius: 16px;
    position: fixed;
    bottom: 0;
    left: 0;
}

.input input {
    width: 80%;
    padding: 0.8em 1em;
    border: none;
    border-radius: 16px;
    background-color: #ffffff;
}

.input input:focus {
    outline: none;
}

.input button {
    border: none;
    background-color: #ffffff;
}


::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.75);
    border-radius: 16px;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 16px;
    background: #b5b5b5;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
