.leaderboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 250px;
    width: 75vw;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 16px;
}

.header {
    width: 100%;
    background-color: white;
    cursor: pointer;
    padding: 0.3em;
    border-radius: 16px;
}

.header button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1em;
    border: none;
    gap: 10px;
    border-radius: 16px;
    cursor: pointer;
    background-color: white;
    padding-inline: 0.5em;
}

.expanded {
    width: 100%;
    padding: 1em;
}

@media screen and (max-width: 768px) {
    .leaderboard {
        max-width: 230px;
    }
}
