.loginContainer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    width: 90%;
    max-width: 400px;
    padding: 2em;
    border-radius: 16px;
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.25);
}

.loginTitle {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    margin-bottom: 1em;
    padding-bottom: 1em;
    font-weight: bold;
    font-size: 1.4em;
}

.login input {
    margin-block: 1em;
    padding: 1em;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.25);
}

.login p {
    margin: 1em 1em 1em 0;
}

.login button {
    cursor: pointer;
    padding: 1em;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.25);
    background-color: #333333;
    cursor: pointer;
    color: white;
}

.validMessage {
    color: green;
    text-align: center;
    font-weight: bold;
    margin-block: 1em;
}

.invalidMessage {
    color: red;
    font-weight: bold;
    margin-block: 1em;
    text-align: center;
}
