.btnModalReward {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btnModalReward img {
    height: 30px;
}

.modalReward {
    padding: 32px 16px;
    align-items: center;
    text-align: center;
}

.sliderContainer {
    width: 80%;
}
