@font-face {
    font-family: "pixeloid";
    src: url("/src/assets/fonts/PixeloidSans.ttf");
}

.btnModalReward {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btnModalReward img {
    height: 30px;
}

.modalRewardContainer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalReward {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 32px 16px;
    border-radius: 16px;
    text-align: center;
    background-color: white;
    position: relative;
    width: 90%;
    max-width: 1000px;
    font-family: "pixeloid", sans-serif;
}

.sliderContainer {
    width: 80%;
}

.btnClose {
    font-family: "pixeloid", sans-serif;
    background-color: transparent;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}
