.modalRewardTitle {
    font-size: 2.5rem;
    font-weight: 700;
}

.btnModalReward {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    width: 4em;
    height: 4em;
    padding: 1.25em;
    background-color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.25);
}

.btnModalReward img {
    width: 100%;
}

.modalReward {
    align-items: center;
    text-align: center;
}

.sliderContainer {
    width: 100%;
}
