.btnProfil {
    width: 4em;
    height: 4em;
    padding: 1.25em;
    background-color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.25);
}

.btnProfil img {
    width: 100%;
}

.canvasContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
}

.navbarContainer {
    position: fixed;
    top: 1em;
    left: 1em;
    right: 1em;
    display: flex;
    align-items: flex-start;
    gap: 0.5em;
}

@media screen and (max-width: 475px) {
    .navbarContainer > button {
        padding: 0.75em;
        height: 3em;
        width: 3em;
    }
}
